#
# Proxy playbook
#
---
- name: Proxy Playbook
  hosts: ${hosts}

  vars:
    version: 1.0

  # see if we can git rid of this using group_vars/all
  # not possible because group_vars/all is not preprocessed
  vars_files:
  - vars/global.yml

  tasks:
  - include: ${playbook_tasks}/${playbook}.yml

  handlers:
  - include: ${playbook_handlers}/global.yml
