#
# Opensips Tasks
#
---
- yum: pkg=${item} state=installed
  with_items:
  - opensips
  tags:
  - opensips.pkgs

# manage tree structure
#- copy: src=${item} dest=/etc/httpd owner=root group=root mode=0600
#  with_fileglob:
#  - ${playbook_files_private}/${playbook}/${ansible_fqdn}/*
#  - ${playbook_files_private}/${playbook}/${host_group}/*
#  - ${playbook_files_private}/${playbook}/${datacentre}/*
#  - ${playbook_files_private}/${playbook}/default/*
#  - ${playbook_files}/${playbook}/${ansible_fqdn}/*
#  - ${playbook_files}/${playbook}/${host_group}/*
#  - ${playbook_files}/${playbook}/${datacentre}/*
#  - ${playbook_files}/${playbook}/default/*
#  notify:
#  - restart template
#  tags:
#  - template.cfg
#  - template
#  - cfg

# manage static configs
#- copy: src=${item} dest=/etc/template.cnf owner=root group=root mode=0600
#  first_available_file:
#  - ${playbook_files_private}/${playbook}/template.cnf-${ansible_fqdn}
#  - ${playbook_files_private}/${playbook}/template.cnf-${host_group}
#  - ${playbook_files_private}/${playbook}/template.cnf-${datacentre}
#  - ${playbook_files_private}/${playbook}/template.cnf
#  - ${playbook_files}/${playbook}/template.cnf-${ansible_fqdn}
#  - ${playbook_files}/${playbook}/template.cnf-${host_group}
#  - ${playbook_files}/${playbook}/template.cnf-${datacentre}
#  - ${playbook_files}/${playbook}/template.cnf
#  notify:
#  - restart template
#  tags:
#  - template.cfg

# manage dynamic configs
- template: src=${item} dest=/etc/opensips/opensips.cfg owner=root group=root mode=0644
  first_available_file:
  - ${playbook_templates_private}/${playbook}/opensips.cfg.j2-${ansible_fqdn}
  - ${playbook_templates_private}/${playbook}/opensips.cfg.j2-${host_group}
  - ${playbook_templates_private}/${playbook}/opensips.cfg.j2-${datacentre}
  - ${playbook_templates_private}/${playbook}/opensips.cfg.j2
  - ${playbook_templates}/${playbook}/opensips.cfg.j2-${ansible_fqdn}
  - ${playbook_templates}/${playbook}/opensips.cfg.j2-${host_group}
  - ${playbook_templates}/${playbook}/opensips.cfg.j2-${datacentre}
  - ${playbook_templates}/${playbook}/opensips.cfg.j2
  #notify:
  #- restart opensips
  tags:
  - opensips.cfg
