#
#
#
---
- name: restart sysctl
  command: sysctl -p
  ignore_errors: yes
  tags:
  - sysctl.service

- name: restart nscd
  service: name=nscd state=restarted
  tags:
  - nscd.service

- name: restart ntpd
  service: name=ntpd state=restarted
  tags:
  - ntpd.service

- name: restart iptables
  service: name=iptables state=restarted
  ignore_errors: yes
  tags:
  - iptables.service

- name: stop iptables
  service: name=iptables state=stopped
  ignore_errors: yes
  tags:
  - iptables.service

- name: restart monit
  service: name=monit state=restarted
  tags:
  - monit.service

- name: restart httpd
  service: name=httpd state=restarted
  tags:
  - httpd.service

- name: restart mysql
  service: name=mysql state=restarted
  tags:
  - mysql.service

- name: restart mysqld
  service: name=mysqld state=restarted
  tags:
  - mysqld.service

- name: restart postgresql
  service: name=postgresql state=restarted
  tags:
  - postgres.service

- name: restart snmpd
  service: name=snmpd state=restarted
  tags:
  - snmpd.service

- name: restart denyhosts
  service: name=denyhosts state=restarted
  tags:
  - denyhosts.service

- name: restart dirsrv
  service: name=dirsrv state=restarted
  tags:
  - ldap.service

- name: restart dirsrv-admin
  service: name=dirsrv-admin state=restarted
  tags:
  - ldap.service
